# Build files:
/target
**/*.rs.bk

# We currently don't pin the rust toolchain version:
rust-toolchain
rust-toolchain.toml

# Local development:
.vscode/launch.json
todo.md
*.wasm

# Added by goreleaser init:
dist/
.intentionally-empty-file.o
target/
